h1{
    color: black;
}

header{
    background-color: azure;
}
.anemo{
     width: 500px;
     float: left;
}

.geo{
    width: 500px;
    float: right;
}
    
.elektro{
width: 500px;
float: left;
}

.dendro{
  width: 500px; 
  float: right; 
}

.hydro{
   width: 500px;
   float: left; 
}
